<!DOCTYPE html>
<html lang="en">

<head>
    <title>Raspberry Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Domov</a>
                </li>
                <li>
                    <a href="#">O nás</a>
                </li>
                <li>
                    <a href="#">Foto prezentácia</a>
                </li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul> -->
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <!--<p>-->
            <!--<a href="#">Link</a>-->
            <!--</p>-->
            <!--<p>-->
            <!--<a href="#">Link</a>-->
            <!--</p>-->
            <!--<p>-->
            <!--<a href="#">Link</a>-->
            <!--</p>-->
        </div>
        <div class="col-sm-7 text-left">
            <!--<h1>Vitajte</h1>-->
            <!---->
            <!--<hr>-->

            <!--<h3>Test</h3>-->
            <div id="temperature" class="well">
                <h3>Aktuálna teplota: {{ temp }} °C.</h3>
                <h3>Aktuálny tlak: {{ pressure }}.</h3>
                <h3>Oblačnosť: {{ description }}.</h3>
            </div>

            <div id="bus-traffic" class="well">
                <h2>Zaporožská, smer Zochova</h2>
               {{ bus_table|safe }}

            </div>


        </div>
        <!--<div class="col-sm-3 sidenav">-->
        <!--<div class="well">-->
        <!--<h3>Aktuálna teplota: {{ temp }} °C.</h3>-->
        <!--<h3>Aktuálna tlak: {{ pressure }}.</h3>-->
        <!--</div>-->
        <!--&lt;!&ndash; <div class="well">-->
        <!--<p>ADS</p>-->
        <!--</div> &ndash;&gt;-->
        <!--</div>-->
    </div>
</div>

<!--<footer class="container-fluid text-center">-->
    <!--<p>Miško a Siska</p>-->
<!--</footer>-->

</body>

</html>